:root {
    --clr-neon-blue: #4dddff;
    --clr-neon-pink: hsl(317 100% 54%); 
    --clr-neon-purple: #7122fa;
    --clr-bg: #141D26;
    --game-font: 'Press Start 2P', cursive;
}

@font-face {
    font-family: led-board;
    src: url(font/enhanced-led-board-7.regular.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--clr-bg);
}

header {
    font-size: 32px;
    color: gold;
    text-align: center;
    font-family: var(--game-font);
    /* overflow: hidden; */
}

header h1 {
    margin: 0;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

main {
    text-align: center;
}

.game-top {
    font-family: var(--game-font);
    color: white;
    margin-top: 40px;
}

.scoreboard {
    font-family: led-board;
    color: white;
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.player-score, .cpu-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score h2 {
    color: dodgerblue;
    margin-bottom: 0;
}

.cpu-score h2 {
    color: red;
    margin-bottom: 0;
}

.player-score h2, .cpu-score h2 {
    font-size: 40px;
}

.player-score h1, .cpu-score h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

#result {
    font-family: var(--game-font);
    color: white;
}

.fa-hand-rock {
    color: var(--clr-neon-blue);
}

.fa-hand-paper {
    color: var(--clr-neon-pink);
}

.fa-hand-scissors {
    color: var(--clr-neon-purple);
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 32px;
}

#rock {
    cursor: pointer;
    display: inline-block;
    color: currentColor;
    border: var(--clr-neon-blue) 0.125em solid;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-blue),  0 0 0.5em 0 var(--clr-neon-blue);

    position: relative;
}

#rock:hover, #rock:focus {
    background: var(--clr-neon-blue);
}

#rock:hover::after {
    opacity: 1;
}

#rock:hover i, #rock:focus i {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
}

#rock::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background: var(--clr-neon-blue);
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(1.5em);
    opacity: 0.7;
}

#rock:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.25em var(--clr-neon-blue);
    opacity: 0;
}

#paper {
    cursor: pointer;
    display: inline-block;
    color: currentColor;
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink),  0 0 0.5em 0 var(--clr-neon-pink);

    position: relative;
}

#paper:hover, #paper:focus {
    background: var(--clr-neon-pink);
}

#paper:hover::after {
    opacity: 1;
}

#paper:hover i, #paper:focus i {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
}

#paper::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background: var(--clr-neon-pink);
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(1.5em);
    opacity: 0.7;
}

#paper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.25em var(--clr-neon-pink);
    opacity: 0;
}

#scissors {
    cursor: pointer;
    display: inline-block;
    color: currentColor;
    border: var(--clr-neon-purple) 0.125em solid;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-purple),  0 0 0.5em 0 var(--clr-neon-purple);

    position: relative;
}

#scissors:hover, #scissors:focus {
    background: var(--clr-neon-purple);
}

#scissors:hover::after {
    opacity: 1;
}

#scissors:hover i, #scissors:focus i {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
}

#scissors::before {
    content: "";
    pointer-events: none;
    position: absolute;
    background: var(--clr-neon-purple);
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(1.5em);
    opacity: 0.7;
}

#scissors:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 1em 0.25em var(--clr-neon-purple);
    opacity: 0;
}

footer {
    font-size: 18px;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: var(--game-font);
    color: white;
}

.fa-github {
    color: white;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; 
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(32, 32, 32, 0.9);
}

.modal h2 {
    font-family: var(--game-font);
    color: white;
}

.play-again {
    font-size: 16px;
    border-radius: 8px;
    font-family: var(--game-font);
    color: var(--clr-neon-pink);
    background: rgba(32, 32, 32, 0.9);
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 8px 4px;
    cursor: pointer;
}

.play-again:hover {
    background-color: var(--clr-neon-pink);
    color: white;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}